{% extends 'base.html' %}


{% block title %}
    Listar admin
{% endblock title %}
    

{% block content %}
<div style="padding: 10%;">
    <h1>Lista todo personal</h1>
    
    <ul style="display: flex;">
        {% for empleado in empleados %}
        <li style="margin: 1rem;"><p>{{ empleado }}</p>
            <ul>
                <li>{{empleado.first_name}}</li>
                <li>{{empleado.last_name}}</li>
                <li>{{empleado.departamento}}</li>
                <li> <a href="{% url 'personal_app:modificar' empleado.id %}">editar</a> </li>
                <li> <a href="{% url 'personal_app:borrar' empleado.id %}">eliminar</a> </li>
            </ul>
        </li>
        {% endfor %}
    </ul>

    <div>
        <ul style="display: flex; list-style: none;">
            {% if is_paginated %}
            
                {% if page_obj.has_previous %}
                <li><a href="?page={{page_obj.previous_page_number}}">anted</a></li>
                {% endif %}

                
                {% for page in paginator.page_range %}

                    {% if page == page_obj.number %} 
                        <li>{{page}}+</li>
                    {% else %}
                        <li><a href="?page={{page}}" style="text-decoration: none;">{{page}}</a></li>
                    {% endif %}                   

                {% endfor %}
                    
                
                {% if page_obj.has_next %}
                <li><a href="?page={{page_obj.next_page_number}}">despues</a></li>
                {% endif %}
            
            {% endif %}
                
        </ul>
    </div>
</div>
{% endblock content %}
    
