{% extends 'base.html' %}

{% load static %}

{% block titulo %}Pantalla 1 {% endblock titulo %}
{% block content %}
<p>Holasnadsad</p>
<p>dfgsgsd</p>
<p>dgfsfgd</p>
<p>dfsgsdgsfd</p>
<p>sgsdfgsd</p>
{% endblock content %}
<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/prueba.css' %}">
</head>

{% include './header.html' %}

<body>
    
    <h2 class="bg-red"> hols </h2>
    <h4 class="bg-green">mundo</h4>
    
</body>

{% include './footer.html' %}

</html>
-->